body {
    background-color: #E7E8EA;
    color: #2F313E;
}
.login {
    width: 50%;
    display: flex;
    background-color: #E7E8EA;
    margin-left: 25%;
    margin-right: 25%;


    .logo {
        margin-left: 40px;
        margin-top: 20px;
    }

    .loginContainer {
        flex: 6;
        border-radius: 50px;
        height: 60vh;
        min-height: 600px;
        background-color: #F5F5F5;
        justify-content: center;
        align-self: center;
        box-shadow: 0px 4px 40px rgba(40, 40, 40, 0.25);
        margin-top: 10em;

        .top,
        .bottom {
            padding: 10px;
            margin: 20px;
            display: flex;
        }


        form {
            flex: 1;

            .formInput {
                border-radius: 50px;
                width: 100%;
                margin-top: 20px;
                align-self: center;
                

                label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 5px;
                }

                input {
                    border: solid #DEDEDE;
                    color: #2F313E;
                    border-radius: 50px;
                    width: 100%;
                    padding: 5px;
                    padding-left: 15px;
                }
            }

            button {
                width: 150px;
                padding: 10px;
                border: none;
                background-color: #CA5D26;
                box-shadow: 0px 4px 20px #DEB29B;
                border-radius: 15px;
                color: white;
                font-family: 'OpenSansBold';
                cursor: pointer;
                margin-top: 50px;
                margin-bottom: 20px;
                margin-left: 35px;
            }
        }

        .bottom {
            justify-content: center;
        }
    }

}