.createRoom {
  display: flex;

  .createRoomContainer {
    flex: 6;
    padding: 3rem;
  }

  .title {
    text-align: center;
  }

  .label {
    display: block;
  }

  .submit-button {
    display: block;
  }

  .masked-input-container {
    position: relative;

    .input-prefix {
      display: inline;
      position: absolute;
    }

    input {
      padding: 0 10px;
    }
  }
}
