.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #2F313E;
    background-color: #E7E8EA;
    border-bottom: 3px solid #DEDEDE;


    .wrapper {
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search{
            display: flex;
            align-self: center;
            box-shadow: 0px 4px 20px rgba(162, 162, 162, 0.25);
            border-radius: 50px;
            width: 250px;
            height: 50px;
            background-color: #F5F5F5;
            margin-right: 30px;

            input {
                border: none;
                outline: none;
                border-radius: 50px;
                background-color: #F5F5F5;
                margin-left: 15px;

                &::placeholder {
                    font-size: 18px;
                }
            }
            
            .icon {
                font-size: 30px;
                color: #2F313E;
                margin-left: 20px;
                margin-top: 10px;
            }
        }

        .user-greeting {
            font-family: "OpenSansBold";
            font-size: 24px;
            margin-left: 30px;    
        }
    }
}